# Database
POSTGRES_URL=postgresql://***
BASE_URL=http://localhost:3000
AUTH_SECRET=***

# Auth
NEXTAUTH_SECRET=your_nextauth_secret
JWT_SIGNING_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDKFFhjV6cj9s8x
3h5FnHsFAReIdfJMUIQ+C6A5IeXLkpZgjkRX00kH2wiu+2+AdVb4NDe1tm7es3wa
g9BySpO0rQY9TLYgvivjYKdByeLMVzGGj5WaOHikXREzOkQ2z/NDt87pUw8lQ5t0
Sf+6eBN/Wpips46GRq8ukexmFcawuc4stpuEwTJ3WujwjqvcjaQv0XUW5JWC9x/q
VW3gLSbKnFO70AAjOCM0d9QSl2XOVfh+e7wG6LVvf7zKks36xTvQbmKp6/m93a0I
wR30i13HXs+Qosbj63OyRPors8EePEWWOMqxHuiEnAGP00azlN6vbq3xhGWKGj8k
QFhoBPNPAgMBAAECggEAJvIF2Nt/QFykMOmsbuEKCnxb4zZMBK4t1mFaNziTt4ig
R6qTfFOhiwyJH2Qg6KJ0qPAzXmdy9aOkwt1tkmFSFyuTfMPog+XywmcRxQmaFqSl
TFgmzmqcwZyYIIXVuLSaHw5xJ6GU1Ssy7hYG3ZKfu1cj/ey3hqRfxbtk0oXW3Z8R
bUi4knM6fz3u1k398y8sZlKp0RUJPc1AWQMFslv7gy3okO46foBnK3msWrBX02ye
orTMI01IlXBYutgH2IgCgGESqXXu0g1ObJL2qCikBPdol5cpQ/NzOEiqL3ExSPx/
v+cbXOfKMOEjZr6LQGsPWURhYqe6tyWpLlTWgJDpQQKBgQD9x+3tRBNN8XKar7TA
SQMRd1lvYsfuYc0cAZn2iiyuEw+1RDDaW1uLC1Vy4UfRQU5O1hJIrfrKtMV7GuNx
RXMkb/gLrcsiSInPSYy3dmyIk3EQMNxGK2iCOnHwrxlAKwvB53P/xsBorBfS/YKq
/7OQb4NwgsKi3TimOu4c8Q2fDwKBgQDL2K+M/7aEl+WmH0UdV4D5bkZsNLz4JUdc
Yq4Di4RUiNzWG3cmQJpF0AmgEWeG72yJjmYW1IxEHmDo+k7XFm3zFqdEUSb8xdIr
UQSP8GXUVEIdEy+l5p4j1I37tlH9KUUcyDLGEjQdwOBwHzY1bdiyQekjnCfgESbJ
dup2Ii9nwQKBgQD8zxvfzn8EmFA4dGy1WIZr8d7wLRFKEbeH/LhpdwBHcMmnI4Uf
IP8yplm7FVy7wjjGJE8Wg+pf4HERz5lfj3XCiKAq0jiXsHdIPdamNJyt+WMaY/Ir
HLcBdENpJqUa3UbbJTzTQiUOoNEi6FQxEITKj6v6euh14ba7Md1ei2usVQKBgQCO
r8RiG/R0Z6bWW3kTita6whgFUf0cbWvAHUrVLGmaipqaPGtwmTPjvjWel9AxwZHl
z4liXbE5VVJcgimBoS+hQrAev/dcZFQzAekBoDKHJ9uHYpCtvfnf9r7T/NDzNlos
RW5U+xUD5qizkwVs7NEMJdq9lGbNDvRpfRWtT0yDgQKBgQDDN8GFlKMLPflbelA6
fgL/jEpGtSJqr53p6LQKNMz09rX7+SAdYTWBxwfSq4b1OYnR9Cn1z9ZJZ7io9nUH
k7D4HrvYLHHxXRceWaw1d/59XeGa851wL+wwOOb6g1SdnlQFdym1pP0NlcUdr1of
Wv7SHqltlNKCk2vgJNwDbn6BTw==\n-----END PRIVATE KEY-----"
GITHUB_ID=your_github_client_id
GITHUB_SECRET=your_github_client_secret

# Solana confiqurations
SOLANA_NETWORK=devnet
SOLANA_MAINNET_RPC=https://api.mainnet-beta.solana.com
TOKEN_PROGRAM_ID=

# Metaplex
TOKEN_METADATA_PROGRAM_ID=

# Helius API configuration
HELIUS_API_URL=https://api.helius.xyz
HELIUS_API_KEY=your_helius_api_key

# SHYFT API configuration
SHYFT_API_URL=https://api.shyft.network
SHYFT_API_KEY=your_shyft_api_key

# Payments
STRIPE_SECRET_KEY=sk_test_***
STRIPE_WEBHOOK_SECRET=whsec_***

# BARK BLINK configuration
BARK_BLINK_POSTGRES_URL=POSTGRES_URL
BARK_BLINK_STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
BARK_BLINK_STRIPE_WEBHOOK_SECRET=STRIPE_WEBHOOK_SECRET
BARK_BLINK_BASE_URL=BASE_URL
BARK_BLINK_AUTH_SECRET=AUTH_SECRET

# Marketing & Mail
NEXT_PUBLIC_MAILCHIMP_API_KEY=
NEXT_PUBLIC_MAILCHIMP_AUDIENCE_ID=
NEXT_PUBLIC_MAILCHIMP_DATA_CENTER=
